<% @page_title="DELETE STUDENT" %>

<%= link_to("BACK_TO", students_path, :class=>"back-link") %>
<div class="students details">
	<style>
		.student-name {
        color: red;
        font-weight: bold;
}	
	</style>
	<h2>DELETE STUDENT</h2>
	
	<div class="crud-form"><%= form_for(@student, :method=>'delete') do |f| %>
	<p>Are you sure you want to delete this student details: <span class="student-name"><%= f.object.student_name %></span></p>

	<div class="reference-name"> </div>
	<br/>	
	<div class="form-button">
		<%= f.submit("DELETE STUDENT") %>
	</div >
	<% end %>
</div>
</div>
	