<style>
body{
	background-color:#B6D491;
}
	.welcome{
		color:black;
	}
</style>

<div class="welcome">
<h1>WELCOME TO SIMPLE CSB</h2>


<h2>This is the sample web page to maintain teachers and students association</h1>
</div>